/*style appliqué pour toute la page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #8aa7c6, #769bcf);
    color: #000000;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------- TITRE -------- */
h1 {
    font-size: 2.8rem;
    color: #ff0000;
    text-align: center;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    margin-bottom: 50px;
}

/* -------- ENTETE -------- */
.entete {
    background-position: center;
    margin: 20px;
    color: white;
    padding: 15px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-image: url('https://wallpapers.com/images/hd/cybersecurity-background-5xuiy4xhhj4ql8t1.jpg');
}

/* -------- BOX PRINCIPALE -------- */
.box1 {
    background: rgba(255, 255, 255, 0.4);
    padding: 30px 30px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.box1:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.box1 h2 {
    font-size: 1.9rem;
    color: #020202;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    font-weight: 700;
    margin-bottom: 50px;
}

/* -------- BOUTONS -------- */
button {
    width: 30%;
    box-shadow: 0 5px 15px rgba(58, 66, 67, 0.781);
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: #57b7fc;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s;
}

button:hover {
    background: #cb1f1f;
    transform: translateY(-2px);
}

.btn {
    text-align: center;
    margin-top: 10px;
}

/* -------- INPUT TEXTE -------- */
input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    outline: none;
    box-shadow: 0 5px 15px rgba(58, 66, 67, 0.781);

}

/*------LABEL------*/
.strength-label {
    padding: 12px;
    margin: 10px;
    width: 30%;
    color: black;
    box-shadow: 0 5px 15px rgba(58, 66, 67, 0.781);
    font-weight: bold;
    background: #e57b7b;
    border-radius: 15px;
    display: inline-block;
}

/*------PICTURE------*/
.photo {
    width: 30%;
    padding: 12px;
    margin: auto;
    border: none;
    justify-content: center;
    border-radius: 12px;
    background: #e57b7b;
    transition: 0.25s;
    box-shadow: 0 5px 15px rgba(58, 66, 67, 0.781);
}

.image {
    width: 90%;
    border-radius: 15px;
}

/*  RANGE SLIDER  */
.range {
    width: 80%;
    max-width: 600px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 20px 0;
    color: rgb(0, 0, 0);
    font-size: larger;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    font-weight: bold;
}

/* Slider */
input[type="range"] {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #cb7575;
    outline: none;
    margin-top: 15px;
    cursor: pointer;
}

input[type="range"]:hover {
    transform: translateY(-2px);
}

/* -------- OPTIONS CHECKBOX -------- */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: auto;
    max-width: 600px;
    border-radius: 10px;
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    background: #ecd15aa9;
    box-shadow: 0 5px 15px rgba(58, 66, 67, 0.781);
    padding: 10px 15px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #888888;
    cursor: pointer;

}

/*---media query pour les petits écrans--*/
@media (max-width: 630px) {

    .box1,
    .range {
        width: 100%;
    }

    .h2 {
        font-weight: 400;
    }

    .box {
        width: 95%;
    }

    .photo {
        width: 70%;
        margin: auto;
    }

    .part2 {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    button,
    input[type="text"] {
        width: 100%;
    }
}
